body {
    height: 100vh;
    background-color: rgb(17, 0, 28);
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

div.leandb_program {
    display: flex;
    flex-direction: column
}

div.leandb_program_content {
    display: flex;
    flex-direction: column
}