body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 19, 31);
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* 
Main app
*/
div.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

/* 
Main app division
*/

div.app_head {
    height: 10%;
    width: 100%;
    display: flex;
}

div.app_content {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    gap: 1vw;
}

div.app_footer {
    height: 10%;
    width: 100%;
    gap: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* 
Footer styling
*/
div.app_footer_item {
    width: 15vw;
    height: 5vw;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a.footer_link {
    color: rgb(88, 124, 155)
}

/* 
Content Styling
*/

div.app_content_top {
    font-family: Arial, Helvetica, sans-serif;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.app_content_top_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    font-size: 3vh;
}

div.app_content_top_functions {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    height: 30%;
    font-size: 2vh;
}

div.app_content_middle {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 1vh;

}

div.app_content_bottom {
    height: 0%;
    width: 100%;
}

/* 
Result styling
*/

div.app_search_results {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.app_search_results_elements {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.app_search_results_elements_top {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgb(0, 130, 177);
}

div.app_search_results_elements_bottom {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

div.app_search_results_elements_top_tech {
    width: 45%;
    display: flex;
    flex-direction: column;
}

div.app_search_results_elements_top_subject {
    width: 50%;
    display: flex;
    flex-direction: column;
}

div.app_search_results_elements_top_remove {
    width: 5%;
    display: flex;
    height: 100%;
    flex-direction: column;
}

div.app_search_results_elements_top_tech_title {
    color: rgba(0, 151, 151, 0.986);
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 900;
    font-size: 1.5vh;
    padding-left: 1vh;
}

div.app_search_results_elements_top_tech_value {
    color: rgba(213, 213, 213, 0.986);
    padding-left: 0.2vh;
    font-size: 2.5vh;
    padding-left: 1vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

div.app_search_results_elements_top_subject_title {
    color: rgba(0, 151, 151, 0.986);
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 1vh;
    font-weight: 900;
    font-size: 1.5vh;
}

div.app_search_results_elements_top_subject_value {
    color: rgba(213, 213, 213, 0.986);
    padding-left: 1vh;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

div.app_search_subject_description {
    color: rgb(141, 211, 222);
    overflow: scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 2vh;
    padding: 1vw;
}

@media only screen and (max-width: 1100px) {
    div.app {
        width: 90%;
    }

    div.app_head {
        height: 5%;
    }

    div.app_search_results_elements_top {
        padding-bottom: 1vh;
    }

    div.app_search_tech_title {
        font-size: 1.7vh;
    }

    div.app_search_tech_value {
        font-size: 2vh;
    }

    div.app_search_subject_title {
        font-size: 1.7vh;
    }

    div.app_search_subject_value {
        font-size: 2vh;
    }
}