<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learn Db</title>
</head>

<body>
    <form method="POST" action="/test">
        <input type="text" name="waifu_name" />
        <input type="text" name="waifu_height" />
        <input type="submit" />
    </form>

    <div class="test" id="testdiv">
        <h1><a href="./">Home Page</a></h1>


        <div class="waifuname">
            <h2>
                <%= waifu %>
            </h2>
        </div>

    </div>
    <img src="img/waifu.jpg">
</body>

</html>