<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/learndb.css">
    <title>Learn Db</title>
</head>

<body>
    <div class="learndb_program">
        <div class="learndb_program_head">
            <h1>Results for your search: <%= status %>
            </h1>
        </div>
        <div class="learndb_program_content">
            <div class="learndb_results">
                all results goes here
            </div>

            <div class="learndb_return_home" id="testdiv">
                <a href="./">Home</a>
            </div>

            <div class="lerndb_view_all" id="testdiv">
                <a href="./db_view_all">View All Entries</a>
            </div>

            <div class="learndb_create" id="testdiv">
                <a href="./db_create_entry">Create entry</a>
            </div>
        </div>
    </div>

</body>

</html>